### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

### Logs ###
*.log

### OS ###
.DS_Store
Thumbs.db

### Spring Boot Configs (don’t commit secrets) ###
src/main/resources/application-*.properties
src/main/resources/application-*.yml

### Environment files (local only) ###
.env
*.env
.env.local
.env.*.local

### Build / Output ###
/out/
/build/
